* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif;
    padding: 0 25px;
}

h1 {
    color: #E53170;
    line-height: 100px;
    text-align: center;
    font-weight: 800;
    /* margin: 0 auto; */
}

main p:first-child {
    text-align: center;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;
}

.clearfix [
    content:"";
    display: table
    
    
]

.container {
    border: 1px solid black;
    max-width: 1500px;
    height: auto;
    margin: 25px 0;
}

.container-member {
    width: 33%;
    height: 100px;
    margin-bottom: 25px;
    float: left;
    background-color: #0F0E17;
}

.box {
    padding: 20px 0px;
}

div img:only-of-type {
    height: 100px;
    width: auto;
    float: left;
}

span {
    float: left;
    margin-top: 20px;
    
}

h4 {
    color: white;
}

span p {
    color: white;
}

span a {
    text-decoration: none;
    color: rgb(74, 187, 243);
}

span a:hover {
    color: rgb(134, 255, 255);
}

